/* Skip to Main Content */
.skip a {
    position: absolute;
    top: 0px;
    z-index: auto;
    color: black;
}

.skip a:focus{
    position: absolute;
    top: 0;
    color: black;
}

/* Navigation */
#logo {
    padding: .5vh;
    width: 50px; 
}
header {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_list {
    padding: .5vh 0;
    text-align: center;
    list-style: none;
}
.nav_tab {
    padding: .75vh 0;
}
.nav_tab a {
    color: var(--more-white);
    font-size: 1.5em;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
}
.nav_select {
    text-decoration: underline overline #FF3028;
}
.nav_tab a:hover, .nav_tab a:focus {
    color: var(--medium-accent);
    border: 2px solid var(--medium-accent);
    text-decoration: underline;
}

/* Text */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #b8cdd1;
}

p {
    line-height: 100%;
    font-size: large;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

/* Gallery Images */
.himepics {
    height: 390px;
    width: auto;
    border: 10px solid #6cb2be;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

.gall img:nth-child(3n) {
    background-color: #e2e298;
    border-style: solid;
}

.himepics:hover {
    box-shadow: 8px 8px 9px #9aa7e4;
    border: 4mm ridge #eb92bc;
    transform: scale(1.1);
    box-shadow: 0px 0px 9px 9px #fdff95;
}

/* Index Profile Image */
.himeprofile {
    height: 390px;
    width: auto;
    border: 10px solid #e6e277;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

.profile {
    background-color: #c679d3;
    border-style: dotted;
}

.himeprofile:hover {
    box-shadow: 12px 12px 2px 1px #9aa7e4;
    border: 2mm ridge #eb92bc;
    transform: scale(1.1);
    box-shadow: 0px 0px 9px 9px #fdff95;
}

/* Contact Image */
.himecontact {
    height: 390px;
    width: auto;
    border: 10px solid #dfb958;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

.contact {
    background-color: #79b0d3;
    border-style: dashed-solid;
}

.himecontact:hover {
    box-shadow: 12px 12px 2px 1px #9aa7e4;
    border: 2mm ridge #eb92bc;
    transform: scale(1.1);
    box-shadow: 0px 0px 9px 9px #f25454;
}

/* Care Image */
.himecare {
    height: 390px;
    width: auto;
    border: 10px dashed #7ee881;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

.care {
    background-color: #f0e772;
    border-style: dashed;
}

.himecare:hover {
    box-shadow: 12px 12px 2px 1px #9aa7e4;
    border: 2mm ridge #eb92bc;
    transform: scale(1.1);
    box-shadow: 0px 0px 9px 9px #ac7df3;
}